{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'home/head.html' %}
    <body>
        {% block preloader %} {% endblock preloader %}
        {% block nav %} {% endblock nav %}
        {% block content %} {% endblock content %}
        {% block hero %} {% endblock hero %}
        {% block services %} {% endblock services %}
        {% block exports %} {% endblock exports %}
        {% block imports %} {% endblock imports %}
        {% block logistics %} {% endblock logistics %}
        {% block it-services %} {% endblock it-services %}
        {% block partners %} {% endblock partners %}
        {% block team %} {% endblock team %}
        {% block posts %} {% endblock posts %}    
        {% block form %} {% endblock form %}
        {% block footer %} {% endblock footer %}
        
        {% include 'home/js.html' %}
    </body>
</html>