{% extends 'home/base.html' %} 
{% load static %} 
{% block nav %}{% include 'home/navbar.html' %}{% endblock nav %} 
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-12 text-center text-uppercase pt-5">
        <h4>get in touch </h4>
    </div>
</div>
</div>
<!-- Include the above in your HEAD tag -->
<section class="portfolio sections bordered">
    <div class="container-fluid px-0 mt-4">
        <div class="row">
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.451753422216!2d36.8599411!3d-1.2538866!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9500606a945d761!2sInstitute+of+Certified+Public+Accountants+of+Kenya!5e0!3m2!1sen!2ske!4v1519034034117"
                    width="100%" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-md-5 pr-5">
                <div class="head_title text-center text-uppercase">
                    <h2 class="pt-5">Get In Touch</h2>
                </div>
                <form id="contact-form" method="post" action="contact" role="form">
                    
                    <div class="controls px-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_name">Firstname *</label>
                                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                                    data-error="Firstname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_lastname">Lastname *</label>
                                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                    data-error="Lastname is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_email">Email *</label>
                                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required"
                                    data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_phone">Phone</label>
                                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Message *</label>
                                <textarea id="form_message" name="message" class="form-control textarea" placeholder="Message for me *" rows="4" required="required"
                                    data-error="Please,leave us a message."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" name="button">
                        <i class="far fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block footer %}{% include 'home/footer.html' %}{% endblock footer %}