{% load static %}
<!-- OUR PORTFOLIO -->
<section class="portfolio-area  portfolio sections bordered">
        <div class="container">
            <!-- section title -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="sectionTitle text-center">
                        <h2>Our Exports</h2>
                        <p>We export a wide array of agricultural produce including but not limited to: Quality Kenyan Tea, Quality Kenyan Coffee, Pineapples, Mangoes, Avocados, Macadamia Nuts and Ghee, meat and Meat products as well as Livestock</p>
                    </div>
                </div>
            </div>
            <!-- section title ends -->
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g1.jpg" src="{% static 'home/images/e1.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Fresh Pineapples</h3>
                                        <p class="img_overlay-desc">Kenyan pineapples are the finest in the world and excellent source of manganese and vitamin C which helps to ward off colds and in the synthesis of collagen in the body.</p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view1" data-qw-form="qw-form-1"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view1" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-1" class="hidden">
                            <div class="bg-image">
                                <div class="project_specification">
                                    <h2 class="text-primary">Key Benefits</h2>
                                    <div class="row">
                                        <div class="col-2">1:</div>
                                        <div class="col-10">Contains powerful antioxidants that help in combating radicals responsible for cancer growth</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">2:</div>
                                        <div class="col-10">Beta-carotene helps lower asthma attacks</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">3:</div>
                                        <div class="col-10">Pineapples are well known for their anti-inflammatory properties</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">4:</div>
                                        <div class="col-10">They help in protection against macular degeneration</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">5: </div>
                                        <div class="col-10 text-primary">Potassium in pineapples helps in lowering blood pressure</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g2.jpg" src="{% static 'home/images/e2.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Coffee</h3>
                                        <p class="img_overlay-desc">Kenyan coffee is well known for its intense flavor, full body with floral tastes and deep aromatic overtones making it one of of the most sought-after coffee in the world</p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view2" data-qw-form="qw-form-2"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view2" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-2" class="hidden">
                            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
                                <div class="project_specification">
                                    <h2 class="text-primary">Project Details 2</h2>
                                    <div class="row">
                                        <div class="col-4 ">Clients:</div>
                                        <div class="col-8 ">Jake Hemswire</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Category:</div>
                                        <div class="col-8 ">Investment,Consulting</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Date:</div>
                                        <div class="col-8 ">20 June, 2017</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Status:</div>
                                        <div class="col-8 ">In Progress</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Website: </div>
                                        <div class="col-8  text-primary">www.tatc.co.ke</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g3.jpg" src="{% static 'home/images/e3.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Meat</h3>
                                        <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view3" data-qw-form="qw-form-3"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view3" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-3" class="hidden">
                            <div class="bg-image">
                                <div class="project_specification">
                                    <h2 class="text-primary">Project Details</h2>
                                    <div class="row">
                                        <div class="col-4 ">Clients:</div>
                                        <div class="col-8 ">Jake Hemswire</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Category:</div>
                                        <div class="col-8 ">Investment,Consulting</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Date:</div>
                                        <div class="col-8 ">20 June, 2017</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Status:</div>
                                        <div class="col-8 ">In Progress</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Website: </div>
                                        <div class="col-8  text-primary">www.tatc.co.ke</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g4.jpg" src="{% static 'home/images/e4.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Kenyan Tea</h3>
                                        <p class="img_overlay-desc">Kenyan Tea has won international accolades due to its superior, distinctive and spectacular quality, characteristics, taste and aroma. </p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view4" data-qw-form="qw-form-4"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view4" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-4" class="hidden">
                            <div class="bg-image">
                                <div class="project_specification">
                                    <h2 class="text-primary">Did you know?</h2>
                                    <div class="row">
                                        <div class="col-2 ">1:</div>
                                        <div class="col-10 ">Kenya is one of the oldest tea producers in Africa.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 ">2:</div>
                                        <div class="col-10 ">300 tons of CTC tea is produced a year.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 ">3:</div>
                                        <div class="col-10 ">Tea is the #1 foreign exchange earner for Kenya.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 ">4:</div>
                                        <div class="col-10 ">Tea was first introduced in Kenya in 1903 by GWL Caine and was planted in present-day Limuru.
</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 ">5: </div>
                                        <div class="col-10">Best paid tea farmers in the world are Kenyan.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g5.jpg" src="{% static 'home/images/e5.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Livestock</h3>
                                        <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view5" data-qw-form="qw-form-5"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view5" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-5" class="hidden">
                            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
                                <div class="project_specification">
                                    <h2 class="text-primary">Project Details</h2>
                                    <div class="row">
                                        <div class="col-4 ">Clients:</div>
                                        <div class="col-8 ">Jake Hemswire</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Category:</div>
                                        <div class="col-8 ">Investment,Consulting</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Date:</div>
                                        <div class="col-8 ">20 June, 2017</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Status:</div>
                                        <div class="col-8 ">In Progress</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Website: </div>
                                        <div class="col-8  text-primary">www.tatc.co.ke</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card_img">
                            <a href="#">
                                <img class="img-full loaded" data-original="img/home/gallery/g6.jpg" src="{% static 'home/images/e6.jpg' %}" data-was-processed="true">
                                </a><div class="hover-overlay effect-scale"><a href="#">
                                    </a><div class="img_overlay-container"><a href="#">
                                        <h3 class="img_overlay-title">Agricultural Produce</h3>
                                        <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                                        </a><div class="img_overlay-icon"><a href="#">
                                            </a><a href="#" class="icon link quick_view" data-fancybox="quick-view6" data-qw-form="qw-form-6"><i class="fa fa-search text-white"></i></a>
                                            <a href="#" class="icon link"><i class="fa fa-link text-white"></i></a>
                                            <span class="hidden">
                                                <a class="quick_view" data-fancybox="quick-view6" href="#">#2</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        <div id="qw-form-6" class="hidden">
                            <div class="bg-image">
                                <div class="project_specification">
                                    <h2 class="text-primary">Project Details</h2>
                                    <div class="row">
                                        <div class="col-4 ">Clients:</div>
                                        <div class="col-8 ">Jake Hemswire</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Category:</div>
                                        <div class="col-8 ">Investment,Consulting</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Date:</div>
                                        <div class="col-8 ">20 June, 2017</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Status:</div>
                                        <div class="col-8 ">In Progress</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 ">Website: </div>
                                        <div class="col-8  text-primary">www.tatc.co.ke</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <a href="#" class="btn btn-default bg-blue bold text-white">View More</a>
            </div>
        </div>
    </section>
    