{% load static %}
    <!-- FOOTER -->
    <footer class="footer footer-classic bg-blue pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-text">
                        <a href="#">
                            <div>
                                <img class="img-fluid" src="{% static 'home/images/logo2.png' %}" alt="">
                            </div>
                        </a>
                        <p class="pl-4">
                             We are a multi-faceted company that was formed to respond to needs in the imports, exports, logistics and IT Services.
                        </p>
                        <div class="social-icons pl-4">
                            <a href="#" class="btn btn-social btn-social-o twitter text-white">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-social btn-social-o linkedin text-white">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" class="btn btn-social btn-social-o facebook text-white">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="btn btn-social btn-social-o skype text-white">
                                <i class="fab fa-skype"></i>
                            </a>
                            <a href="#" class="btn btn-social btn-social-o pinterest text-white">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="links">
                        <h3>Links</h3>
                        <ul>
                            <li><a class="text-white" href="#"> What We Do</a></li>
                            <li><a class="text-white" href="#"> Our Exports</a></li>
                            <li><a class="text-white" href="#"> Our Imports</a></li>
                            <li><a class="text-white" href="#"> IT Services</a></li>
                            <li><a class="text-white" href="#"> Our Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="location">
                        <h3>Location</h3>
                        <ul>
                            <li>Our headquater is in Nairobi, Kenya</li>
                            <li><i class="fa fa-home"></i> CPA Center, Thika Road,</li>
                            <li><i class="fa fa-phone"></i> <a class="text-white" href="tel:+254791071920">[+254] 791 071 920</a></li>
                            <li><i class="fa fa-envelope"></i> <a class="text-white" href="#mailto"> info@tatc.co.ke </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pr-4">
                    <div class="instagram">
                        <h3>Instagram</h3>
                        <ul class="row instagram-image">
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta1.png" alt="insta" class="loaded" src="{% static 'home/images/insta1.jpg' %}" data-was-processed="true"></a></li>
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta2.png" alt="insta" class="loaded" src="{% static 'home/images/insta2.jpg' %}" data-was-processed="true"></a></li>
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta3.png" alt="insta" class="loaded" src="{% static 'home/images/insta3.jpg' %}" data-was-processed="true"></a></li>
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta4.png" alt="insta" class="loaded" src="{% static 'home/images/insta4.jpg' %}" data-was-processed="true"></a></li>
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta5.png" alt="insta" class="loaded" src="{% static 'home/images/insta1.jpg' %}" data-was-processed="true"></a></li>
                            <li class="col-xs-4 col-4"><a href="#"><img data-original="img/home/footer/insta6.png" alt="insta" class="loaded" src="{% static 'home/images/insta2.jpg' %}" data-was-processed="true"></a></li>
                        </ul>
                    </div>
                </div>

                <!-- BACK TO TOP BUTTON -->
                <!-- <a href="#pageTop" class="backToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a> -->

                <!-- COPY RIGHT -->
            </div>
            <div class="copyright">
                <hr>
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="copyRight_text text-center">
                            <p>&copy; 2018. Trans-Atlantic Trading Company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scrollup">
        <a href="#">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
