{% load static %}

<section id="hero" class="jumbotron">
    <div class="jumbotron">
        <div class="container text-center hero-txt">
            <div>
                <h1>Welcome To Trans-Atlantic</h1>
            </div>
            <div>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p class="lead">It uses utility classes for typography and spacing to space content out within the larger container.</p>
            </div>
            <p class="lead">
                <a class="cta-btn btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
            </div>
        </div>
    </div>
</section><!-- End of Contact Section -->