{% load static %}
<header class="v-header container-fluid mb-md-5">
    <div class="fullscreen-video-wrap">
        <video src="https://production.cdmycdn.com/assets/marketing-pages/intensives/bws/coding-scenes-9a2031e8142b40bdb5d936d5eef33dfa.mp4" autoplay="true" loop="true">
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="container header-content">
        <h1>Welcome To Trans-Atlantic</h1>
        <p>
             We are a multi-faceted company that was formed to respond to needs in the imports and exports of high demand products, general supplies and IT Services.
        </p>
        <div class="btn-container" >
        <a href="{% url 'about' %}" class="btn btn-default bg-blue bold text-white">Find Out More</a>
        </div>
    </div>
</header>
