{% extends 'home/base.html' %}
{% load static %}
{% block preloader %}{% include 'home/preloader.html' %}{% endblock preloader %}
{% block nav %}{% include 'home/navbar.html' %}{% endblock nav %}
{% block hero %}{% include 'home/hero.html' %}{% endblock hero %}
{% block services %}{% include 'home/services.html' %}{% endblock services %}
{% block imports %}{% include 'home/imports.html' %}{% endblock imports %}
{% block exports %}{% include 'home/exports.html' %}{% endblock exports %}
{% block logistics %}{% include 'home/logistics.html' %}{% endblock logistics %}
{% block it-services %}{% include 'home/it-services.html' %}{% endblock it-services %}
{% block team %}{% include 'home/team.html' %}{% endblock team %}
{% block testimonials %}{% include 'home/testimonials.html' %}{% endblock testimonials %}
{% block posts %}{% include 'home/posts.html' %}{% endblock posts %}
{% block partners %}{% include 'home/partners.html' %}{% endblock partners %}
{% block footer %}{% include 'home/footer.html' %}{% endblock footer %}