{% load static %}
<!-- Logistics -->
<section class="more-feature portfolio sections bordered">
	<div class="container">
		<div class="text-center">
			<h2>Logistics Portfolio</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="more-feature-left">
					<div class="more-features">
						<div class="feature-details">
							<h4>Warehousing Services</h4>
							<p>
								We will provide Warehousing facilities for your shipment so you don't have to wory about looking for third party companies to store your shipment

							</p>
						</div>
					</div>
					<div class="more-features">
						<div class="feature-details">
							<h4>Freight Shipping</h4>
							<p>
								We will provide Warehousing facilities for your shipment so you don't have to wory about looking for third party companies to store your shipment
							</p>
						</div>
					</div>
					<div class="more-features">
						<div class="feature-details">
							<h4>Courier Shipping</h4>
							<p>
								We will provide Warehousing facilities for your shipment so you don't have to wory about looking for third party companies to store your shipment

							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 pt-4">
				<div class="img-fluid effect5">
                    <img src="{% static 'home/images/l1.jpg' %}" alt="logistics">
				</div>
			</div>
		</div>
	</div>
</section>