{% load static %}

<section class="home-blog bg-gray-lineargradient">
    <div class="container">
        <!-- section title -->
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="sectionTitle text-center">
                    <h2><a class="text-dark" href="{% url 'articles:list' %}">Latest Articles</a></h2>
                    <p>
                        Learn more about the Kenya's biggest exports, trading, logistics, technology and busines in general.
                    </p>
                </div>
            </div>
        </div>
        <!-- section title ends -->
        <div class="row">
            <div class="col-md-4">
                <div class="card card-style3">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full loaded" data-original="img/blog/blog1.jpg" alt="Card image" src="{% static 'home/images/i1.jpg' %}"
                                data-was-processed="true">
                        </a>
                        <div class="date-holder bg-primary">
                            <span>05</span>
                            Feb
                        </div>
                    </div>
                    <div class="card-block">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <i class="far fa-user" aria-hidden="true"></i>
                                    <span class="text-primary">Admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-heart "></i> 118</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-comments" aria-hidden="true"></i> 29</a>
                            </li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">10 Reasons For Importing Cement</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-style3">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full loaded" data-original="img/blog/blog2.jpg" alt="Card image" src="{% static 'home/images/e1.jpg' %}"
                                data-was-processed="true">
                        </a>
                        <div class="date-holder bg-primary">
                            <span>08</span>
                            Feb
                        </div>
                    </div>
                    <div class="card-block">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <i class="far fa-user" aria-hidden="true"></i>
                                    <span class="text-primary">Admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-heart" aria-hidden="true"></i> 213</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-comments" aria-hidden="true"></i> 14</a>
                            </li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">5 Health Benefits of Pineapples</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-style3">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full loaded" data-original="img/blog/blog3.jpg" alt="Card image" src="{% static 'home/images/s1.jpg' %}"
                                data-was-processed="true">
                        </a>
                        <div class="date-holder bg-primary">
                            <span>11</span>
                            Feb
                        </div>
                    </div>
                    <div class="card-block">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <i class="far fa-user" aria-hidden="true"></i>
                                    <span class="text-primary">Admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-heart"></i> 157</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="far fa-comments" aria-hidden="true"></i> 23</a>
                            </li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">5 Tips for Shipping Your Produce</h4>
                        </a>
                    </div>
                </div>
            </div>          
        </div>
      
            <div class="container btn-container mt-4  ml-auto text-center">
                <a href="{% url 'articles:list' %}" class="btn btn-default bg-blue bold text-white">Learn More</a>
            </div>
    </div>
</section>
