body {
  width: 100%;
  overflow-x: hidden;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-top: 4px solid #23479B;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 100000000;
}
