{% extends 'home/base.html' %} 
{% load static %} 
{% block preloader %}{% include 'home/preloader.html' %}{% endblock preloader %}
{% block nav %}{% include 'home/navbar.html' %}{% endblock nav %}

{% block content %}
<div class="container mt-5 pt-5 mb-5">
    <div class="articles mt-5">
        {% for article in articles %}
            <div class="article col-md-12 mt-5">
                <div class="col-md-5">
                    <img class="img-fluid" src="{{ article.thumb.url }}" alt="article thumbnail">
                </div>
                <div class="col-md-7">
                <div>
                    <h2><a class="text-dark" href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
                </div>
                <div>
                    <p>{{ article.snippet }}</p>
                </div>
                <div>
                    <p>{{ article.date }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block footer %}{% include 'home/footer.html' %}{% endblock footer %}