{% extends 'home/base.html' %} 
{% load static %} 
{% block preloader %}{% include 'home/preloader.html' %}{% endblock preloader %} 
{% block nav %}{% include 'home/navbar.html' %}{% endblock nav %} 

{% block content %} 
<div class="container mt-5 mb-5 pt-5">
    <div class="article-detail mt-5">
        <div class="article">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ article.thumb.url }}" alt="">
                </div>
                <div class="col-md-6 pt-4 bordered">
                    <div class="pb-2">
                        <h2>{{ article.title }}</h2>
                    </div>
                    <div class="p-2">
                        <p>Author: {{ article.author }}</p>
                    </div>
                    <div class="p-2">
                        <p>Published on: {{ article.date }}</p>
                    </div>
                    <div class="p-2">
                        <p>Summary: {{ article.snippet }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5 bordered">
                    
                    <div class="p-5">
                        <p>{{ article.body }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 

{% block footer %}{% include 'home/footer.html' %}{% endblock footer %}